.draw-area {
    border:1px solid black;
    background-color: white;
}

.canvas-menu {
    background-color: grey;
    width: 945px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color-button {
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
    height: 10px;
    width: 10px;
}

.red {
    background-color: red;
    margin: 3px;
}

.orange {
    background-color: orange;
    margin: 3px;
}

.yellow {
    background-color: yellow;
    margin: 3px;
}

.green {
    background-color: green;
    margin: 3px;
}

.blue {
    background-color: blue;
    margin: 3px;
}

.indigo {
    background-color: indigo;
    margin: 3px;
}

.violet {
    background-color: violet;
    margin: 3px;
}

.black {
    background-color: black;
    margin: 3px;
}

.canvas-button {
    background-color: #0081A7;
    padding: 15px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.canvas-button:hover {
    color: white;
}

.canvas-menu label {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;

}

.pen-size-scroll {
    display: flex;
    align-content: center;
}

.pen-size-scroll:hover {
    cursor: grab;
}

.pen-size-scroll:active {
    cursor: grabbing;
}

.color-palette {
    display: flex;
    align-items: center;
}

.color-changer {
    height: 35px;
    width: 55px;
}

.color-changer:hover {
    cursor: pointer;
}