.post-container {
    /* background-color: aqua; */
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px black solid; */
    /* margin-top: 10%; */
    padding: 10px;
    margin: 10px;
}

.single-title {
    display: flex;
    align-items: left;
}

.post {
    padding: 5px;
    background-color: #FED9B7;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 400px; */
    /* width: 400px; */
    /* border-radius: 5px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* height: 100%; */
    /* margin: 5%; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.post-card-title {
    display: flex;
    justify-self: left;
    font-size: x-large;
    width: 450px;
}
.post-card-pic {
    /* width: 200px;
    height: 200px; */
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    align-self: center;
}

.post:hover {
    border: 1px solid #F07167;
}

.comments-tags {
    display: flex;
    width: 300px;
    /* background-color: green; */
    justify-content: space-around;
}

.comments-tags > h2 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.post-reply-button {
    background-color: #FED9B7;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-reply-button:hover {
    background-color: #F07167;
}

.tags {
    background-color:  lightgray;
    height: 25px;
    /* width: 125px; */
    color: black;
    display: flex;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0.25rem;
    align-items: center;
    padding: 5px;
}

