.posts-container {
    padding-top: 100px;
    width: 100%;
    height: 100%;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-gap: 1rem;
    justify-content: center; 
}

.post-placeholder {
    background-color: #FED9B7;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.post-placeholder:hover {
    cursor: pointer;
    border: 1px solid #F07167;
}