.app-name {
  font-size: 32px;
  text-transform: uppercase;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FED9B7;
}

.nav-bar link {
  font-size: 6px;
}

.NavBar button {
  height: 20px;
}

.Links1 {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.Links2 {
  width: 400px;
  display: flex;
  justify-content: space-between;
}