/* body {
  font-family: Arial, Helvetica, sans-serif;
}

.app-name {
  font-size: 32px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #FED9B7;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

}

.link-list {
  font-size: 16px;
  display: flex;
  justify-content: space-around;

  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
}

.link {
  background-color: #0081A7;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.25rem;
}

.link:hover {
  background-color: #F07167;
}

.logout-button {
  background-color: #0081A7;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-button:hover {
  background-color: #F07167;
} */