.about-container {
    padding-top: 150px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    background-color :#009CCC;
    height: 260px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    overflow-y: auto;
}

.description > h1 {
    font-size: 32px;
    padding-bottom: 10px;
}

.description span {
    font-size: 24px;
}

.team {
    background-color: #FED9B7;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.team > h1 {
    font-size: 32px;
    padding-bottom: 10px;
}

.team li {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

ul.team-members {
    display: flex;
    height: 150px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
} 

#github {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

#github:hover {
    border-bottom: 2px solid #F07167;
}

#linkedin {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

#linkedin:hover {
    border-bottom: 2px solid #F07167;
}